body {
    background: #fff1e0;
   
    font-family: 'Montserrat';
}

.material-icons {
  font-size: 2em;
  margin-left: 1em;
}

a {
  background-color: #ee6e73;
}

.formTitle {
    font-size: 1.5em;
}

[action] p {
  color: coral;
  text-align: left;
}