body {
    background: #fff1e0;
   
    font-family: 'Montserrat';
}

.material-icons {
  margin-left: 1em;
}

nav .brand-logo {
    font-size: 1em;
}

h1 {
    font-size: 1.5em;
}

a {
  background-color: #ee6e73;
}

.phoneTypo {
    letter-spacing: 2px;
}

td {
    min-width: 100px;
}

.formTitle {
    font-size: 1.5em;
}

[action] p {
  color: coral;
  text-align: left;
}

.waves-effect {
  width: 250px;
}

.large {
  margin-left: 2px;
}

button {
    padding: 0px;
}

*[data-tooltip] {
    position: relative;
}

*[data-tooltip]::after {
    content: attr(data-tooltip);
    
    position: absolute;
    top: 10px;
    right: -20px;
    width: 150px;
    
    pointer-events: none;
    opacity: 0;
    -webkit-transition: opacity .15s ease-in-out;
    -moz-transition: opacity .15s ease-in-out;
    -ms-transition: opacity .15s ease-in-out;
    -o-transition: opacity .15s ease-in-out;
    transition: opacity .15s ease-in-out;
    
    display: block;
    font-size: 0.8em;
    line-height: 16px;
    background: #607D8A;
    margin-right: 50px;
    padding: 2px 2px;
    border: 1px solid #fff1e0;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.4);
    color: #fff1e0;
}

*[data-tooltip]:hover::after {
    opacity: 1;
}

.highlight :hover{
    background-color: #fcf8f4;
    opacity: 1;
}

.oval {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 0px;
  height: 50px;
  border: none;
  -webkit-border-radius: 51% / 50%;
  border-radius: 51% / 50%;
  font: normal 100%/normal Arial, Helvetica, sans-serif;
  color: rgba(0,0,0,1);
  -o-text-overflow: clip;
  text-overflow: clip;
  
  background-position: 39% 50%, 50% 50%;
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: auto 108%, auto auto;
  background-size: auto 108%, auto auto;
  position: absolute;
  left: 10px;
  top: 5px;
  z-index: 1;
 padding: 0;
  opacity: 1;
}

#modif {
  font-size: 1.4em;
}

table .material-icons {
  margin-left: 0px;
}

#red :hover {
  background-color: #e5665b;
}

#red {
  background-color: #607D8A!important;
}

#rowDetail {
    max-width: 300px;
}
#rowPatient {
    max-width: 300px;
}
/* style.css */

.btn-floating.btn-large i {
  margin-left: -1px;
  line-height: 58px;
}
/* inline_style_edits.inline.css */

.modal-footer #red {
  margin: -18px 0px 0px;
}
