body {
    background: #fff1e0;
   
    font-family: 'Montserrat';
}

.material-icons {
  margin-left: 1em;
}

nav .brand-logo {
    font-size: 1em;
}

a {
  background-color: #ee6e73;
}

.formTitle {
    font-size: 1.5em;
}

[action] p {
  color: coral;
  text-align: left;
}

.waves-effect {
  width: 250px;
}

.large {
  margin-left: 2px;
}

*[data-tooltip] {
    position: relative;
}

*[data-tooltip]::after {
    content: attr(data-tooltip);
    
    position: absolute;
    top: 10px;
    right: -20px;
    width: 150px;
    
    pointer-events: none;
    opacity: 0;
    -webkit-transition: opacity .15s ease-in-out;
    -moz-transition: opacity .15s ease-in-out;
    -ms-transition: opacity .15s ease-in-out;
    -o-transition: opacity .15s ease-in-out;
    transition: opacity .15s ease-in-out;
    
    display: block;
    font-size: 0.8em;
    line-height: 16px;
    background: #607D8A;
    margin-right: 50px;
    padding: 2px 2px;
    border: 1px solid #fff1e0;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.4);
    color: #fff1e0;
}

*[data-tooltip]:hover::after {
    opacity: 1;
}

